@using OrderDemo.Models

@model OrderDemo.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Add Order";

    MyAppContext db = new MyAppContext();

    SelectList productsList = new SelectList(db.Products, "ID", "Name");
}

<h2>AddOrder</h2>

<div class="form-horizontal">
    <input type="date" id="date" class="form-control" />
</div>

<table class="table table-responsive" id="tblItems">
    <tr>
        <th>
            Items
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>
    <tr id="MainRow">
        <td>
            
        </td>
        <td>
            @Html.DropDownList("productsItems", productsList, "-- Select -- ", new { @class = "productsItems form-control" })
            <span class="error text-danger"></span>
        </td>
        <td>
            <input type="text" id="price" class="price form-control" placeholder="Price" />
            <span class="error text-danger"></span>
        </td>
        <td>
            <input type="text" id="quantity" class="quantity form-control" placeholder="Quantity" />
            <span class="error text-danger"></span>
        </td>
        <td>
            <input type="text" id="total" class="total form-control" disabled="disabled" />
        </td>
        <td>
            <button type="button" class="btn btn-success" id="add">Add</button>
        </td>
    </tr>
</table>

<h4>Order Items</h4>

<table class="table table-responsive" id="OrderItems"></table>



<button type="button" class="btn btn-default" id="submit">Add Order</button>

<span class="text-danger" id="orderMessage"></span>